@model Product

<div class="d-flex align-items-center justify-content-center">
	<form method="post" style="width:500px">
		<input asp-for="Id" hidden />
		<div class="border p-3 mt-4">
			<div class="row pb-2">
				<h2 class="text-center">Delete Product</h2>
				<hr />
			</div>
			<div class="mb-3 row p-1">
				<label asp-for="Title" class="p-0"></label>
				<input asp-for="Title"disabled class="form-control" />
			</div>

			<div class="mb-3 row p-1">
				<textarea asp-for="Description" class="p-0"></textarea>
				<textarea asp-for="Description" disabled class="form-control"></textarea>
			</div>

			<div class="mb-3 row p-1">
				<label asp-for="ISBN" class="p-0"></label>
				<input asp-for="ISBN" disabled class="form-control" />
			</div>

			<div class="mb-3 row p-1">
				<label asp-for="Author" class="p-0"></label>
				<input asp-for="Author" disabled class="form-control" />
			</div>

			<div class="mb-3 row p-1">
				<label asp-for="ListPrice" class="p-0"></label>
				<input asp-for="ListPrice" disabled class="form-control" />
			</div>

			<div class="mb-3 row p-1">
				<label asp-for="Price" class="p-0"></label>
				<input asp-for="Price" disabled class="form-control" />
			</div>

			<div class="mb-3 row p-1">
				<label asp-for="Price50" class="p-0"></label>
				<input asp-for="Price50" disabled class="form-control" />
			</div>

			<div class="mb-3 row p-1">
				<label asp-for="Price100" class="p-0"></label>
				<input asp-for="Price100" disabled class="form-control" />
			</div>

			<div class="d-flex align-items-center justify-content-center">
				<button type="submit" class="btn btn-danger" style="width:80px; margin-right:15px;">Delete</button>
				<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:80px;">Back</a>
			</div>
		</div>
	</form>
</div>
