@model Category

<div class="d-flex align-items-center justify-content-center">
	<form method="post" style="width:500px">
		<input asp-for="Id" hidden />
		<div class="border p-3 mt-4">
			<div class="row pb-2">
				<h2 class="text-center">Edit Category</h2>
				<hr />
			</div>
			<div class="mb-3 row p-1">
				<label asp-for="Name" class="p-0"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger disabled"></span>
			</div>
			<div class="mb-3 row p-1">
				<label asp-for="DisplayOrder" class="p-0"></label>
				<input asp-for="DisplayOrder" class="form-control" />
				<span asp-validation-for="DisplayOrder" class="text-danger disabled"></span>

			</div>
			<div class="d-flex align-items-center justify-content-center">
				<button type="submit" class="btn btn-success" style="width:80px; margin-right:15px;">Update</button>
				<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:80px;">Back</a>
			</div>
		</div>
	</form>
</div>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
